body {
    margin: 0;
}

#font-color {
    position: fixed;
    color: white;
    font-size: 2rem;
    z-index: 100;
}

#back-img {
    position: fixed;
    top: 0;
    width: 355px;
    height: 200px;
    /* width: 200px;
    height: 200px; */
}